header {
    background-color: $couleur-primaire;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    a  {
        display: flex;
        flex-direction: column;
        img {
            width: 50%;
        }
        h1 {
            font-family: $font-titre;            
        }
    }
}