.accroche
{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 5%;
 margin-bottom: 5%;
    h1 
    {
        font-family: $font-titre;
        font-size: 3em;
        margin: 3%;
    }
}
.presentation
{
    background-color: $couleur-secondaire;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex; 
    justify-content: space-between;

}
.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 10%;
    }
}

.newposts
{
    display: flex;
    justify-content: center;
    align-items: center;
    .post 
    { 
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img 
        {
            width: 400px;
            height: 250px;
            opacity: 0.5;
        }
    }
}