{% extends "admin/adminLayout.html.twig" %}

{% block content %}
    {% for comment.novalid in comment.novalid %}
        <p>{{ comment.content }}</p>   
        <p>{{ comment.author }}</p>      
    {% endfor %}

    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        
        <p>Modifier</p>
        <p>Supprimer</p>
    {% endfor %}

{% endblock %}