<!DOCTYPE html>
<html lang="fr">    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://cdn.tiny.cloud/1/l4v78ybwtvw7wkl8rlhdb9we4zv1jp3t2zoyxwacmgpw4a31/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: 'textarea'
      });
    </script>
        <title>Admin Cyberus Developement</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
        
    <body>
    <header>
            <a href="/admin">
                <img src="/public/img/logo.png" alt="logo">
                <h1>Cyberus Developement ADMIN</h1>
            </a>
            <nav>
                <a href="/logout">Déconnection</a>
                <a href="/">Vu utilisateur</a>
            </nav>
    </header>
        <div>        
            {% block content %}{% endblock %}
        </div>

        <footer>
        
        </footer>
    </body>
</html>