{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    <section class="createPost">
        <form method="POST" class="create-form">

                <label>Titre</label>                
                <input  type="text" name="title" requied/>

                <label>Chapo</label>   
                <textarea type="text" name="chapo" requied></textarea>             

                <label>Contenu</label>                
                <textarea name="content"class="longtext" requied></textarea>

                <button type="submit">Publier</button>

        </form>
    </section>
{% endblock %}