{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    <section class="createPost">
        <form method="POST" class="create-form">
            <div>
                <label>Titre</label>                
                <input  type="text" name="title"/>
            </div>

            <div>
                <label>Chapo</label>   
                <textarea name="chapo"></textarea>             
            </div>

            <div>
                <label>Contenu</label>                
                <textarea name="content"></textarea>
            </div>

            <div>
                <input type="submit" />
            </div>

        </form>
    </section>
{% endblock %}