{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    <section class="modifyPost">
        <form method="POST" class="modify-form">

                <label>Titre</label>                
                <input  type="text" name="title" placeholder={{post.title|raw}}/>

                <label>Chapo</label>   
                <textarea type="text" name="chapo" >{{post.chapo|raw}}</textarea>             

                <label>Contenu</label>                
                <textarea name="content"class="longtext">{{post.content|raw}}</textarea>

                <button type="submit">Publier</button>

        </form>
    </section>
{% endblock %}