{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    {% for comment in comments %}
        <h1>{{ comment.author }}</h1>
        <p>{{ comment.content }}</p>
        <a href="commentaires/{{comment.id}}">Valider</a>
        <a href="admin/articles/{{ comment.postId }}">Voir le contexte</a>
    {% endfor %}

    {% if comment.valided |length < 1 %} 
    Tout est valider !
    {% endif %}
{% endblock %}