{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    {% for post in posts %}
    <div class="adminPosts">
        <a href="/articles/{{ post.postId }}"><h1>{{ post.title }}</h1></a>
        <h1>{{ post.chapo }}</h1>
        Modifier
        Supprimer
        Voir les commentaires
    </div>
    {% endfor %}
{% endblock %}