{% extends "/admin/adminLayout.html.twig" %}

{% block content %}
    <div class="users">
        <div class="user">
            <span>Pseudo</span>
            <span>Courriel</span>
            <span>Statut</span>
        </div>
        {% for user in users %}
            <div class="user">
                <span>{{ user.pseudo }}</span>
                <span>{{ user.email }}</span>
                {% if user.admin < 1 %} 
                    <span>Utilisateur</span> 
                {% endif %}
                {% if user.admin > 0 %} 
                    <span>Administrateur</span> 
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}