$couleur-primaire: #F4DFCA;
$couleur-secondaire: #a07b7a;
$couleur-tertiaire: #8867EB; 

$couleur-ombre: #aaa0a8; 

$font-titre: '04B30';
$font-texte: 'opendyslexic';
$couleur-texte: #1B1464;

*
{
    font-family: $font-texte, Arial, serif; 
    color: $couleur-texte;   
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
}