{% extends "layout.html.twig" %}

{% block content %}
    <section class="error">
        <span>Ooups une erreur est survenue</span>
        <a href="/">Reviens à l'écceuil </a>
    </section>
 
{% endblock %}