{% extends "home.html.twig" %}

{% block header %}

            <a href="">
                <img src="../public/img/logo.png" alt="logo">
                <h1>Cyberus Developement</h1>
            </a>
            <nav class="noconnect">
                <li><a href="">Articles</a></li>
                <li><a href="">Se connecter</a></li>
                <li><a href="">S'enregistrer</a></li>
            </nav>
            
{% endblock %}