<!DOCTYPE html>
<html lang="fr">    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c30b777b7c.js" crossorigin="anonymous"></script>
        <title>Cyberus Developement Blog</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
        
    <body>
    <header>
            <a href="/">
                <img src="../public/img/logo.png" alt="logo">
                <h1>Cyberus Developement</h1>
            </a>
            <nav>
                <a href="/articles">Articles</a>
                {% if currentUser.id is null  %}
                <a href="/login">Se connecter</a>
                <a href="/signup">S'inscrire</a>
                {% endif %}
                {% if currentUser.id > 1  %}
                <a href="/logout">Déconnection</a>
                {% endif %}
            </nav>
    </header>
        <div class="bodyblock">        
            {% block content %}{% endblock %}
        </div>

        <footer>
            <a href="/info">Poilitique de confidentialité</a>
            <a href="/contact">Nous contacter</a>

        </footer>
    </body>
</html>