<!DOCTYPE html>
<html lang="fr">    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Super Blog</title>
        <link rel="stylesheet" type="text/css" href="/public/style.css">
    </head>
        
    <body>
        
        <div id="posts">        
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="accroche">
                <h2>Besoin d'un developpeur qui à du chien ? </h2>
                <h1>Cyberus Developement</h1>
            </div>
            Copyright Cléa !
        </footer>
    </body>
</html>