{% extends "layout.html.twig" %}

{% block content %}
    <div class='posts'>
        {% for post in posts %}
            <div class='post'>
                <a href="/articles/{{ post.postId }}"><h2>{{ post.title }}</h2></a>
                <p>{{ post.chapo }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}