{% extends "layout.html.twig" %}

{% block content %}
    <section class="sign">
        <form method="POST" class="sign-form">
            <div>
                <label>Pseudo</label>                
                <input type="text" name="pseudo" placeholder="identifiant" />
            </div>

            <div>
                <label>Courriel</label>                
                <input type="mail" name="email" placeholder="monadress@mail.fr" />
            </div>

            <div>
                <label>Mot de passe</label>                
                <input type="password" name="password" />
            </div>

            <div>
                <input type="submit" />
            </div>

        </form>
    </section>
{% endblock %}